<h2 mat-dialog-title>Delete location?</h2>
<mat-dialog-content class="mat-typography">
	<p>Are you sure you want to delete this location?</p>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-stroked-button mat-dialog-close>Cancel</button>
	<span class="spacer"></span>
	<button mat-flat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
</mat-dialog-actions>