<div class="container pt-20">
	<!-- Toolbar -->
	<mat-toolbar [class.hidden]="showSearch" class="mat-elevation-z1 rad-4 mt-0 mb-15" color="primary">
		<button mat-icon-button (click)="onAdd()" title="Add location">
			<mat-icon>add</mat-icon>
		</button>
		<span class="spacer"></span>
		<button mat-icon-button (click)="showSearch=true" title="Search">
			<mat-icon>search</mat-icon>
		</button>
		<button mat-icon-button class="ml-5" (click)="onLoadData()" title="Refresh">
			<mat-icon>refresh</mat-icon>
		</button>
		<button mat-icon-button class="ml-5" [matMenuTriggerFor]="sortMenu" title="Sort by">
			<mat-icon>sort</mat-icon>
		</button>
		<mat-menu #sortMenu="matMenu">
			<button mat-menu-item (click)="onSortBy('id', 1)">Id (Asc)</button>
			<button mat-menu-item (click)="onSortBy('id', -1)">Id (Dsc)</button>
			<button mat-menu-item (click)="onSortBy('name', 1)">Name (Asc)</button>
			<button mat-menu-item (click)="onSortBy('name', -1)">Name (Dsc)</button>
		  </mat-menu>
	</mat-toolbar>

	<!-- Search Field -->
	<mat-toolbar [class.hidden]="!showSearch" class="mat-elevation-z1 rad-4 mt-0 mb-15" color="primary">
		<input #search class="search text-white" name="search" type="text" (input)="onSearch(search.value)" style="height: 56px;"
			placeholder="Search...">
		<button mat-icon-button (click)="search.value=''; onSearch(''); showSearch=false">
			<mat-icon>close</mat-icon>
		</button>
	</mat-toolbar>

	<!-- Results -->
	<mat-card class="px-0 py-0 mt-0 mb-15">
		<mat-list *ngIf="data.docs.length > 0">
			<div *ngFor="let doc of data.docs" class="list-item-wrapper">
				<mat-list-item>
					<div class="row w-full">
						<div class="col-md-4 col-xs-12 w-full">
							<p class="my-0 ellipsis">{{ doc.properties['id'] }}</p>
						</div>
						<div class="col-md-8 col-xs-12 w-full">
							<p class="my-0 ellipsis">{{ doc.properties['name'] }}</p>
						</div>
					</div>
				</mat-list-item>
				<button mat-icon-button [matMenuTriggerFor]="locationMenu" (click)="selected=doc">
					<mat-icon>more_vert</mat-icon>
				</button>
			</div>
		</mat-list>

		<p *ngIf="data.docs.length === 0" class="text-center py-20">No locations found</p>
	</mat-card>

	<!-- Location Menu -->
	<mat-menu #locationMenu="matMenu">
		<button mat-menu-item class="d-flex items-center" (click)="onEdit()">
			<mat-icon>edit</mat-icon>Edit
		</button>
		<mat-divider></mat-divider>
		<button mat-menu-item class="d-flex items-center" (click)="onDelete()">
			<mat-icon color="warn">delete</mat-icon>
			<span class="text-error">Delete</span>
		</button>
	</mat-menu>

	<!-- Pagination Toolbar -->
	<mat-toolbar class="mat-elevation-z1 rad-4 mt-0 mb-15 px-10">
		<span class="spacer"></span>
		<button mat-button [matMenuTriggerFor]="pageSize" title="Page size">
			<span *ngIf="data.docs.length > 0">{{ data.pagingCounter }} - {{ data.pagingCounter + data.docs.length - 1
				}} of {{ data.totalDocs }}</span>
			<span *ngIf="data.docs.length === 0">N/A</span>
		</button>
		<mat-menu #pageSize="matMenu">
			<button [class.active]="config.size === 25" mat-menu-item (click)="onSetPageSize(25)">25</button>
			<button [class.active]="config.size === 50" mat-menu-item (click)="onSetPageSize(50)">50</button>
			<button [class.active]="config.size === 100" mat-menu-item (click)="onSetPageSize(100)">100</button>
		</mat-menu>
		<button mat-icon-button [disabled]="data.page === 1" (click)="onFirstPage()" title="First page">
			<mat-icon>first_page</mat-icon>
		</button>
		<button mat-icon-button [disabled]="!data.hasPrevPage" (click)="onPrevPage()" title="Previous page">
			<mat-icon>navigate_before</mat-icon>
		</button>
		<button mat-icon-button [disabled]="!data.hasNextPage" (click)="onNextPage()" title="Next page">
			<mat-icon>navigate_next</mat-icon>
		</button>
		<button mat-icon-button [disabled]="data.totalPages === data.page || data.totalPages === 0"
			(click)="onLastPage()"  title="Last page">
			<mat-icon>last_page</mat-icon>
		</button>
	</mat-toolbar>
</div>