<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<h2 mat-dialog-title>{{ data.title }}</h2>
	<mat-dialog-content class="mat-typography">
		<div class="row">
			<div class="col-xs-12 px-5 mb-10">
				<mat-form-field appearance="outline" class="w-full">
					<mat-label>Name</mat-label>
					<input #name matInput name="name" formControlName="name" type="text" placeholder="Enter name..." required>
					<mat-error *ngIf="form.get('name')?.hasError('required')">Name is required</mat-error>
				</mat-form-field>
			</div>
			<div class="col-md-6 col-xs-12 px-5 mb-10">
				<mat-form-field appearance="outline" class="w-full">
					<mat-label>Longitude</mat-label>
					<input #lng matInput name="lng" formControlName="lng" type="number" placeholder="Enter longitude..." required>
					<mat-error *ngIf="form.get('lng')?.hasError('required')">Longitude is required</mat-error>
				</mat-form-field>
			</div>
			<div class="col-md-6 col-xs-12 px-5 mb-10">
				<mat-form-field appearance="outline" class="w-full">
					<mat-label>Latitude</mat-label>
					<input #lat matInput name="lat" formControlName="lat" type="number" placeholder="Enter latitude..." required>
					<mat-error *ngIf="form.get('lat')?.hasError('required')">Latitude is required</mat-error>
				</mat-form-field>
			</div>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-stroked-button type="button" mat-dialog-close>Cancel</button>
		<span class="spacer"></span>
		<button mat-flat-button type="submit" color="primary" [disabled]="form.invalid">Save</button>
	</mat-dialog-actions>
</form>