html {
	box-sizing: border-box;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: var(--bg);
	color: var(--color)
}

.success {
	background-color: var(--success) !important;
	color: #FFFFFF !important;
}

.info {
	background-color: var(--info) !important;
	color: #FFFFFF !important;
}

.warning {
	background-color: var(--warning) !important;
	color: #FFFFFF !important;
}

.error {
	background-color: var(--error) !important;
	color: #FFFFFF !important;
}

.mat-toolbar-row, 
.mat-toolbar-single-row {
	height: 56px;
}

.mat-simple-snackbar-action button {
	color: #FFFFFF !important;
}

.list-item-wrapper {
	position: relative;

	.mat-list-item-content {
		padding-right: 50px !important;
	}

	.mat-icon-button {
		position: absolute;
		top: calc(50% - 20px);
		right: 10px;
	}
}
