input[type=text].search {
	width: 100%;
	padding: 6px 10px;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-size: 15px;
	line-height: 15px;
	background-color: transparent;
    color: var(--color);
}

input[type=text] {
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		-webkit-text-fill-color: var(--color);
		box-shadow: 0 0 0px 1000px transparent inset;
		-webkit-box-shadow: 0 0 0px 1000px transparent inset;
		transition: background-color 5000s ease-in-out 0s;
	}
}

input.no-spin-btn::-webkit-outer-spin-button,
input.no-spin-btn::-webkit-inner-spin-button {
	display: none;
}

input.no-spin-btn {
	-moz-appearance: textfield;
}
