.mapboxgl-popup-content {
	background: var(--bg-darker);
}

button.mapboxgl-popup-close-button {
	color: var(--color);
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
	border-bottom-color: var(--bg-darker);
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
	border-top-color: var(--bg-darker);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
	border-right-color: var(--bg-darker);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
	border-left-color: var(--bg-darker);
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
	border-bottom-color: var(--bg-darker);
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
	border-bottom-color: var(--bg-darker);
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
	border-top-color: var(--bg-darker);
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
	border-top-color: var(--bg-darker);
}