.static {
	position: static !important;
}

.fixed {
	position: fixed !important;
}

.absolute {
	position: absolute !important;
}

.relative {
	position: relative !important;
}

.sticky {
	position: sticky !important;
}

.top-0 {
	top: 0;
}

.top-56 {
	top: 56px;
}

.right-0 {
	right: 0;
}

.bottom-0 {
	bottom: 0;
}

.left {
	left: 0;
}