.text-center {
	text-align: center;
}

.text-white {
	color: white !important;
}

.text-success {
	color: var(--success)
}

.text-info {
	color: var(--info)
}

.text-warning {
	color: var(--warning)
}

.text-error {
	color: var(--error)
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}