@import "@angular/material/theming";
@include mat-core();

// Light (Default) Theme
html[data-theme="light"] {
	$light-primary: mat-palette($mat-indigo, 700);
	$light-accent: mat-palette($mat-pink, A200, A100, A400);
	$light-warn: mat-palette($mat-red, 700);
	$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
	@include angular-material-theme($light-theme);
	--bg: #fafafa;
	--bg-darker: #f1f1f1;
	--color: #000000;
	--color-inv: #ffffff;
	--success: #108718;
	--info: #1b75bb;
	--warning: #e08319;
	--error: #d32f2f;
}

// Dark Theme
html[data-theme="dark"] {
	$dark-primary: mat-palette($mat-purple, 700);
	$dark-accent: mat-palette($mat-green, 300, 500, A100);
	$dark-warn: mat-palette($mat-pink, 700);
	$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
	@include angular-material-theme($dark-theme);
	--bg: #303030;
	--bg-darker: #212121;
	--color: #ffffff;
	--color-inv: #000000;
	--success: #4ab472;
	--info: #0890fe;
	--warning: #fd8d27;
	--error: #c2185b;
}
