<!-- Navbar -->
<mat-toolbar class="fixed top-0 left-0 right-0 z-999 mat-elevation-z1" color="primary">
	<div>
		<span class="ellipsis" style="font-size: 16px; font-weight: 500;">{{ title }}</span>
	</div>
	<span class="spacer"></span>
	<div class="d-flex items-center">
		<a mat-button routerLinkActive="mat-accent" routerLink="map" title="Map Page">Map</a>
		<a mat-button routerLinkActive="mat-accent" routerLink="locations" title="Locations Page">Locations</a>
		<a mat-button [matMenuTriggerFor]="langMenu" title="Change Language" [disabled]="loading">{{ lang | uppercase }}</a>
		<button mat-icon-button (click)="onToggleTheme()" title="{{ theme === 'light' ? 'Enable Dark Mode' : 'Enable Light Mode'  }}">
			<mat-icon>{{ theme === 'light' ? 'dark_mode' : 'light_mode'  }}</mat-icon>
		</button>
		<mat-menu #langMenu="matMenu">
			<button mat-menu-item (click)="onSetLanguage('en')">English</button>
			<button mat-menu-item (click)="onSetLanguage('fr')">French</button>
		</mat-menu>
	</div>
</mat-toolbar>

<!-- Loading -->
<mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn" class="fixed top-56 z-999"></mat-progress-bar>

<!-- Pages Container -->
<div class="relative" style="height: calc(100% - 56px); top: 56px;">
	<router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
