<mat-sidenav-container>
	<!-- Sidenav -->
	<mat-sidenav id="main-sidenav" #sidenav 
		[mode]="isBiggerScreen() ? 'over' : 'side'" 
		[(opened)]="sidenavOpened" 
		[fixedInViewport]="true" 
		[fixedTopGap]="56" 
		(openedChange)="onResize()"
	>
		<div *ngIf="selectedPoint" class="px-10 py-10">
			<h4 class="mb-10"><b>{{ selectedPoint.properties['name'] }}</b></h4>
			<p>{{ selectedPoint.geometry.coordinates[0] }}, {{ selectedPoint.geometry.coordinates[1] }}</p>
			<button mat-stroked-button (click)="onClose()" title="Close">Close</button>
		</div>
	</mat-sidenav>

	<!-- Content -->
	<mat-sidenav-content>
		<!-- Mapbox -->
		<mgl-map
			[style]="'mapbox://styles/mapbox/'+theme+'-v9'" 
			[zoom]="[2]" 
			[center]="[-103.59179687498357, 40.66995747013945]" 
			[attributionControl]="false" 
			(mapLoad)="map = $event; onMapLoaded();" 
		>
			<!-- Map Controls -->
			<mgl-control mglNavigation [showCompass]="false"></mgl-control>
			
			<!-- Map Data Layer -->
			<ng-container *ngIf="locations">
				<mgl-geojson-source
				  id="locations"
				  [data]="locations"
				  [cluster]="true"
				  [clusterMaxZoom]="14"
				  [clusterRadius]="50"
				>
				</mgl-geojson-source>
				<mgl-layer
				  id="clusters"
				  type="circle"
				  source="locations"
				  [filter]="['has', 'point_count']"
				  [paint]="{
					'circle-color': {
					  property: 'point_count',
					  type: 'interval',
					  stops: [
						[0, '#51bbd6'],
						[100, '#f1f075'],
						[750, '#f28cb1']
					  ]
					},
					'circle-radius': {
					  property: 'point_count',
					  type: 'interval',
					  stops: [
						[0, 20],
						[100, 30],
						[750, 40]
					  ]
					}
				  }"
				>
				</mgl-layer>
				<mgl-layer
				  id="cluster-count"
				  type="symbol"
				  source="locations"
				  [filter]="['has', 'point_count']"
				  [layout]="layout"
				>
				</mgl-layer>
				<mgl-layer
				  id="unclustered-point"
				  type="circle"
				  source="locations"
				  [filter]="['!has', 'point_count']"
				  [paint]="{
					'circle-color': '#11b4da',
					'circle-radius': 6,
					'circle-stroke-width': 3,
					'circle-stroke-color': 'rgba(17,180,218,0.3)'
				  }"
				  (layerClick)="onClick($event)"
				>
				</mgl-layer>
				<mgl-popup
					*ngIf="selectedPoint"
					[lngLat]="[selectedPoint.geometry.coordinates[0], selectedPoint.geometry.coordinates[1]]"
					[closeOnClick]="false" 
					(popupClose)="onClose()"
				>
					<h4 style="margin: 10px 0 0 0">{{ selectedPoint.properties['name'] }}</h4>
					<p>{{ selectedPoint.geometry.coordinates[0] }}, {{ selectedPoint.geometry.coordinates[1] }}</p>
				</mgl-popup>
			</ng-container>
		</mgl-map>
	</mat-sidenav-content>
</mat-sidenav-container>